@font-face {
    font-family: "JBM-Bold";
    font-style: normal;
    src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "JBM-Light";
    font-style: normal;
    src: url("./fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
    font-family: "JBM-Medium";
    font-style: normal;
    src: url("./fonts/JetBrainsMono-Medium.woff2") format("woff2");
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    font-style: "JBM-Light";
}

* {
    font-family: inherit;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: "JBM-Bold";
}

input {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    text-align: center;
    font-family: "JBM-Medium";
}

table {
    border-collapse: collapse;
}

td:nth-child(3n) {
    padding-right: 15px;
}

tr:nth-child(3n) > td {
    padding-bottom: 15px;
}

button {
    font-family: "JBM-Medium";
    font-size: 1rem;
    width: 200px;
    margin-block: 10px;
}
